<div class="flex h-30 w-full items-center justify-between bg-red-950 shadow-md">
    <div class="ml-10 flex content-between items-center justify-center space-x-3">
      <%= link_to root_path, class: "group flex" do%>
        <div class="rounded-xl p-3 group-hover:bg-rose-50">
          <p class="text-2xl text-white group-hover:text-black">SmartSockets</p>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to root_path, class: "group flex" do%>
            <div class="flex items-center justify-center rounded-xl p-4 group-hover:bg-rose-50">
            <p class="text-white group-hover:text-black">Мои устройства</p>
            </div>
        <% end %>
      <% end %>
    </div>
    <div class="mr-10 flex content-between items-center justify-center space-x-3">
        <% if user_signed_in? %>
            <%= link_to root_path, class: "group flex" do%>
                <div class="flex items-center justify-center rounded-xl p-4 group-hover:bg-rose-50">
                <p class="text-white group-hover:text-black">Профиль</p>
                </div>
            <% end %>
            <%= link_to destroy_user_session_path, data: {'turbo-method': 'delete', 'confirmation': 'Вы уверены что хотите выйти?'}, class: "group flex" do%>
                <div class="flex items-center justify-center rounded-xl p-4 group-hover:bg-rose-50">
                <p class="text-white group-hover:text-black">Выйти</p>
                </div>
            <% end %>
        <% else %>
            <%= link_to new_user_registration_path, class: "group flex" do%>
                <div class="flex items-center justify-center rounded-xl p-4 group-hover:bg-rose-50">
                <p class="text-white group-hover:text-black">Регистрация</p>
                </div>
            <% end %>
            <%= link_to new_user_session_path, class: "group flex" do%>
                <div class="flex items-center justify-center rounded-xl p-4 group-hover:bg-rose-50">
                <p class="text-white group-hover:text-black">Войти</p>
                </div>
            <% end %>
        <% end %>
    </div>
</div>